In [7]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split

In [8]:
f_data = pd.read_csv("data/weather_features_buckets.csv", index_col = 0)
f_data.head()

,ARRIVAL_DELAY,DAY,MONTH,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,TAIL_NUMBER,TEMPERATURE,ICON,HUMIDITY,SUMMARY,WIND_SPEED,VISIBILITY,PRECIP_INTENSITY,PRECIP_PROB,MODEL,YEAR
0,1,1,1,4,UA,ORD,IAH,5,N30401,2,clear-night,3,Clear,4,5,1,1,737-924,2001
1,2,2,1,5,UA,ORD,DEN,9,N30401,2,clear-day,3,Clear,4,5,1,1,737-924,2001
2,0,2,1,5,UA,ORD,RIC,18,N30401,0,partly-cloudy-night,3,Partly Cloudy,8,5,1,1,737-924,2001
3,1,11,1,7,UA,ORD,PDX,8,N30401,2,clear-day,3,Clear,0,5,1,1,737-924,2001
4,2,12,1,1,UA,ORD,DEN,9,N30401,0,partly-cloudy-day,3,Partly Cloudy,8,4,1,1,737-924,2001

In [9]:
f_data = f_data.dropna()
print f_data.shape
f_data = f_data[f_data.apply(lambda x: len(x['MODEL']) <= 25 and x['YEAR'] != 'None', axis=1)]
print f_data.shape
f_data.dropna()
print f_data.shape
f_data.to_csv('data/cleaned_data.csv')

(139570, 19)
(135428, 19)
(135428, 19)

In [11]:
plane_data = pd.read_csv("data/cleaned_data.csv", index_col = 0)
plane_data.head()
print plane_data.shape

(135428, 19)

In [14]:
sample_size = 29500
early = plane_data[plane_data['ARRIVAL_DELAY'] == 0]
print early.shape
on_time = plane_data[plane_data['ARRIVAL_DELAY'] == 1]
print on_time.shape
delayed = plane_data[plane_data['ARRIVAL_DELAY'] == 2]
print delayed.shape

early = early.sample(sample_size)
on_time = on_time.sample(sample_size)
delayed = delayed.sample(sample_size)
print early.shape
print on_time.shape
print delayed.shape

(72993, 19)
(29591, 19)
(32844, 19)
(29500, 19)
(29500, 19)
(29500, 19)

In [15]:
model_data = pd.concat([early, on_time, delayed])
print model_data.shape
model_data.to_csv('data/model_data.csv')

(88500, 19)

In [16]:
features = model_data
target = features[['ARRIVAL_DELAY']]
features.drop(labels = ['ARRIVAL_DELAY'], axis = 1, inplace = True)
features.head()
train_x, test_x, train_y, test_y = train_test_split(features, target, train_size=0.8)

In [17]:
print train_x.shape
print train_y.shape
print test_x.shape
print test_y.shape

(70800, 18)
(70800, 1)
(17700, 18)
(17700, 1)

In [18]:
train = pd.concat([train_x, train_y], axis = 1)
test = pd.concat([test_x, test_y], axis = 1)
train.to_csv('data/model-train.csv')
test.to_csv('data/model-test.csv')